# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
BulletML for Unity/*.csproj
BulletML for Unity/*.sln
*.pidb
*.suo*.user
*.unityproj
*.booproj
[Bb]in/
[Oo]bj/
TestResults
*.suo
*.user
*.sln.docstates
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

game/Build/*

*.sublime-*

